<div data-ng-controller="ContactItemCtl">

    <div data-ng-if="!viewEdit">
        <span>Name:</span>
        <b>{{contact.name}}</b>
        <span> | </span>
        <span>Telephone:</span>
        <i>{{contact.tel}}</i>
        
        <button data-ng-click="editContact(contact)" class="btn btn-default">Edit</button>
        <button data-ng-click="deleteContact(contact)" class="btn btn-danger">Delete</button>
    </div>

    <div data-ng-if="viewEdit">
        <contact-form resource="contact" save-cb="editSave(resource)" cancel-cb="editCancel(resource)" loading="loading"></contact-form>
    </div>

</div>