<div data-ng-form="contactForm" class="form-inline">
    <div class="form-group"
         data-ng-class="{
            'has-success':contactForm.name.$valid
            , 'has-error':contactForm.name.$invalid
         }">
        <label for="exampleInputName2">Name</label>
        <input name="name"
               data-ng-model="resource.name"
               required="required"
               type="text" class="form-control"
               id="exampleInputName2"
               placeholder="Jane Doe">
    </div>
    <div class="form-group"
         data-ng-class="{
            'has-success':contactForm.tel.$valid
            , 'has-error':contactForm.tel.$invalid
         }">
        <label for="exampleInputEmail2">Telephone</label>
        <input name="tel"
               data-ng-model="resource.tel"
               required="required"
               data-ng-pattern="/\d{3} \d{2} \d{3}-\d{2}-\d{2}/"
               data-maxlength="16"
               placeholder="375 29 333-33-33"
               type="text"
               class="form-control"
               id="exampleInputEmail2">
    </div>
    <button class="btn btn-success"
            data-ng-disabled="contactForm.$invalid || loading"
            data-ng-click="saveCb({'resource': resource})">
        <span data-ng-if="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        <span>Save</span>
    </button>
    <button class="btn btn-default"
            data-ng-disabled="loading"
            data-ng-click="cancelCb({'resource': resource})">Cancel</button>
</div>